{% extends "main/layout.html" %}

{% block body %}
	<section class="services headerTop">
		<div class="bannerSection" style="background-image: url('{{ url_for('main.static', filename='img/customers-bg.jpg') }}');">
			<div class="overlay">
                <h1 class="caption">All About Us</h1>
            </div>
		</div>
	</section>
	<section class="Services">
    <div class="heading">
        About Us
    </div>
    <div class="serviceWrap text-center aboutUs">
        <div class="col-md-8 col-md-offset-2">
        	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus rerum doloribus dolor unde numquam inventore incidunt animi laudantium ullam. Beatae soluta magni veritatis impedit tempore unde, ipsum minus quibusdam repellendus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus rerum doloribus dolor unde numquam inventore incidunt animi laudantium ullam. Beatae soluta magni veritatis impedit tempore unde, ipsum minus quibusdam repellendus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus rerum doloribus dolor unde numquam inventore incidunt animi laudantium ullam. Beatae soluta magni veritatis impedit tempore unde, ipsum minus quibusdam repellendus.</p>
        	<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus rerum doloribus dolor unde numquam inventore incidunt animi laudantium ullam. Beatae soluta magni veritatis impedit tempore unde, ipsum minus quibusdam repellendus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus rerum doloribus dolor unde numquam inventore incidunt animi laudantium ullam. Beatae soluta magni veritatis impedit tempore unde, ipsum minus quibusdam repellendus.Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus rerum doloribus dolor unde numquam inventore incidunt animi laudantium ullam. Beatae soluta magni veritatis impedit tempore unde, ipsum minus quibusdam repellendus.</p>
        </div>
    </div>
</section>
<div class="clearfix"></div>
{% endblock %}