{% extends "main/layout.html" %}

{% block body %}
	<section class="cakeCart headerTop">
		<div class="container">
			<div class="check-out">
	            <div class="cartTable">
	                <table class="table table-striped table-bordered table-hover">
                        <tr>
                            <th>Item</th>
                            <th>Item Name</th>
                            <th>Quantity</th>
                            <th>Unit Price</th>
                            <th>Subtotal</th>
                            <th></th>
                        </tr>
                        {% for item in session['cart'] %}
                            <tr>
                                <td style="width: 20%;">
                                    <a href="#" class="productImg"><img src="{{ item.image_url }}" class="img-responsive" alt=""></a>
                                </td>
                                <td><a href="{{ url_for('.product', prod_id=item.id) }}">{{ item.name }}</a></td>
                                <td style="width: 20%;" class="text-center"> <input type="number" value="{{ item.quantity }}"> </td>
                                <td>₦{{ item.price }}</td>
                                <td class="price">₦{{ item.price * (item.quantity | int) }}</td>
                                <td class="text-center">
                                    <a href="{{ url_for('.remove', prod_id=item.id) }}">
                                        <button class="btn btn-xs btn-danger" title="Remove"><i class="fa fa-times" aria-hidden="true"></i></button>
                                    </a>
                                </td>
                            </tr>
                        {% endfor %}
                            <tr>
                                <td colspan="4">
                                    <strong class="pull-right">Total:</strong>
                                </td>
                                <td colspan="2">₦{{session['total']}}</td>
                            </tr>
	                </table>
	            </div>
	            <div class="produced clearfix">
	                <a href="#" class="pull-left btn btn-primary">Update</a>
	                <a href="{{ url_for('.billing') }}" class="pull-right btn btn-success">Proceed to Payment</a>
	            </div>
	        </div>
		</div>
	</section>
{% endblock %}