{% extends "main/layout.html" %}

{% block body %}
	<section class="cakeStore headerTop">
		<div class="container">
			<div class="row">
			<section class="row PaymentForm">
		        <div class="container">
		            <div class="row">
		                <div class="col-sm-8">
		                    <h3 class="contact_section_title">Get In Touch</h3>
		                    <div class="contactForm">
		                        <form action="" class="row contact_form">
		                            <div class="">
		                                <div class="col-sm-12">
		                                    <div class="form-group">
		                                        <label for="name">Full Name</label>
		                                        <input type="text" class="form-control" id="name" name="name">
		                                    </div>
		                                </div>
		                                <div class="col-md-6">
		                                    <div class="form-group">
		                                        <label for="phone">Phone Number</label>
		                                        <input type="text" class="form-control" id="phone" name="phone">
		                                    </div>
		                                </div>
		                                <div class="col-md-6">
		                                    <div class="form-group">
		                                        <label for="repPhoneNumber">Phone Number</label>
		                                        <input type="text" class="form-control" id="repPhoneNumber" name="Recipient's Phone ">
		                                    </div>
		                                </div>
		                            </div>
		                            <div class="m0">
		                                <div class="col-sm-12 ">
		                                    <label for="message">Additional Information</label>
		                                    <textarea name="message" id="message" class="form-control"></textarea>
		                                </div>
		                            </div>
		                            
		                        </form>
		                    </div><br><br>
		                    <button class="btn btn-success btn-lg">Submit</button>
		                </div>
		                <div class="col-sm-4 billingInfo">
		                    <h3 class="contact_section_title">Address</h3>
		                    <div class="dAddress">
		                        <div class="media">
		                            <div class="media-left icon"><i class="fa fa-map-marker"></i></div>
		                            <div class="media-body address_text">6 Oyediran Street, Off Bode Thomas, Surulere,<br> Lagos, Nigeria.</div>
		                        </div>
		                        <div class="media">
		                            <div class="media-left icon"><i class="fa fa-phone"></i></div>
		                            <div class="media-body address_text">0812-020-8868, 0816-454-8279</div>
		                        </div>
		                    </div>
		                    <div class="mapContainer">
			                	<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d507365.1712347095!2d3.1172947341030084!3d6.548128323134154!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x103b8b2ae68280c1%3A0xdc9e87a367c3d9cb!2sLagos!5e0!3m2!1sen!2sng!4v1501785146896" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
			                </div>
		                </div>
		                
		            </div>
		        </div>
		    </section>

			</div>
		</div>
	</section>
{% endblock %}