{% extends "main/layout.html" %}
{% set active_page = "index" %}
{% block body %}
<div class="clearfix"></div>
<section class="banner headerTop">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image: url('{{ url_for('main.static', filename='img/cake02.jpeg') }}')">
                <div class="overlay">
                    <h1 class="caption">Amazing Cakes</h1>
                    <h4 class="smallCaption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga corporis, voluptatibus! Quae et amet voluptatibus.</h4>
                    <a href="#" class="Dbtn">View More</a>
                </div>
            </div>
            <div class="swiper-slide" style="background-image: url('{{ url_for('main.static', filename='img/cake01.jpeg') }}')">
                <div class="overlay">
                    <h1 class="caption">Wedding Cakes</h1>
                    <h4 class="smallCaption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga corporis, voluptatibus! Quae et amet voluptatibus.</h4>
                    <a href="#" class="Dbtn">View More</a>
                </div>
            </div>
        </div>
        <!-- Add Pagination -->
        <div class="swiper-pagination"></div>
        <!-- Add Arrows -->
        <!-- <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div> -->
    </div>
</section>
<section class="ourChoice">
    <div class="heading">
        Our Sweetest Pick
    </div>
    <div class="choiceWrap">
        <div class="ourChoiceWrap">
            <div class="container" style="overflow: hidden;">
                <div class="handPicks">
                     <div class="handpick">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide handPickCake">
                                <div class="heading">
                                    <div class="title">Wedding Cake Baking</div>
                                    <div class="cakeCaption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum!</div>
                                </div>
                                <div class="image" style="background-image: url('{{ url_for('main.static', filename='img/offer-image.jpg') }}')"></div>
                                <div class="priceWrap">
                                    <div class="cakeCaption2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                                    <div class="price">₦10,000</div>
                                </div>
                            </div>
                            <div class="swiper-slide handPickCake">
                                <div class="heading">
                                    <div class="title">Exclusive Birthday Cakes</div>
                                    <div class="cakeCaption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum!</div>
                                </div>
                                <div class="image" style="background-image: url('{{ url_for('main.static', filename='img/main-slide2.jpg') }}')"></div>
                                <div class="priceWrap">
                                    <div class="cakeCaption2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                                    <div class="price">₦10,000</div>
                                </div>
                            </div>
                            <div class="swiper-slide handPickCake">
                                <div class="heading">
                                    <div class="title">Wedding Cake Baking</div>
                                    <div class="cakeCaption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum!</div>
                                </div>
                                <div class="image" style="background-image: url('{{ url_for('main.static', filename='img/offer-image.jpg') }}')"></div>
                                <div class="priceWrap">
                                    <div class="cakeCaption2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                                    <div class="price">₦10,000</div>
                                </div>
                            </div>
                            <div class="swiper-slide handPickCake">
                                <div class="heading">
                                    <div class="title">Just for your kids</div>
                                    <div class="cakeCaption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum!</div>
                                </div>
                                <div class="image" style="background-image: url('{{ url_for('main.static', filename='img/sweet-img10.jpg') }}')"></div>
                                <div class="priceWrap">
                                    <div class="cakeCaption2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                                    <div class="price">₦10,000</div>
                                </div>
                            </div>
                            <div class="swiper-slide handPickCake">
                                <div class="heading">
                                    <div class="title">We Offer Trainings</div>
                                    <div class="cakeCaption">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eum!</div>
                                </div>
                                <div class="image" style="background-image: url('{{ url_for('main.static', filename='img/slide1.jpg') }}')"></div>
                                <div class="priceWrap">
                                    <div class="cakeCaption2">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</div>
                                    <div class="price">₦10,000</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="ourChoice">
    <div class="heading">
        Our Products
    </div>
    <div class="choiceWrap">
        <div class="ourChoiceWrap">
            <div class="container">
                <div class="row">
                    {% for product in products %}
                    <div class="col-md-3">
                        <a href="{{ url_for('.product', prod_id=product.id) }}">
                            <div class="choice">
                                {% if product.status != 0 %}
                                    <div class="ribbon"><span>Out of stock</span></div>
                                {% endif %}
                                <div class="productName">{{ product.name }}</div>
                                <div class="imgSec" style="background-image:url('{{ product.defaultImage.url }}')"></div>
                                <div class="descriptn">{{ product.description}}</div>
                                {% if product.discounted %}
                                    <div class="discount"><strike>₦{{ product.nairaPrice }}</strike></div>
                                    <div class="price">₦{{ product.discount.nairaPrice}}</div>
                                {% else %}
                                    <div class="price">₦{{ product.nairaPrice}}</div>
                                {% endif %}
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
<section class="Services">
    <div class="heading">
        Our Services
    </div>
    <div class="serviceWrap">
        <div class="container">
            <div class="col-md-4">
                <div class="dService">
                    <a href="#">
                        <div class="serviceIcon">
                            <img src="{{ url_for('main.static', filename='img/service-icon.png') }}" alt="">
                        </div>
                        <div class="title">
                            Birthday Cakes Baking
                        </div>
                        <div class="serviceCaption">
                            Suspendisse potenti. Etiam non euismod augue. Nam aliquam sit amet tortor sit amet consectetur.
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="dService">
                    <a href="#">
                        <div class="serviceIcon">
                            <img src="{{ url_for('main.static', filename='img/service-icon2.png') }}" alt="">
                        </div>
                        <div class="title">
                            Delivery To Any Point
                        </div>
                        <div class="serviceCaption">
                            Suspendisse potenti. Etiam non euismod augue. Nam aliquam sit amet tortor sit amet consectetur.
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="dService">
                    <a href="#">
                        <div class="serviceIcon">
                            <img src="{{ url_for('main.static', filename='img/service-icon5.png') }}" alt="">
                        </div>
                        <div class="title">
                            Catering
                        </div>
                        <div class="serviceCaption">
                            Suspendisse potenti. Etiam non euismod augue. Nam aliquam sit amet tortor sit amet consectetur.
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}