<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

        <link rel="stylesheet" href="{{ url_for('main.static', filename='css/normalize.css') }}" />
        <link rel="stylesheet" href="{{ url_for('main.static', filename='css/main.css') }}" />
        <link rel="stylesheet" href="{{ url_for('main.static', filename='css/bootstrap/css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('main.static', filename='css/font/fonts.css') }}" />
        <link rel="stylesheet" href="{{ url_for('main.static', filename='css/font-awesome/css/font-awesome.css') }}" />
        <link rel="stylesheet" href="{{ url_for('main.static', filename='css/swiper.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('main.static', filename='css/flexslider.css') }}" />
        <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
        
        <link rel="stylesheet" href="{{ url_for('main.static', filename='css/general.css') }}" />

        <script type="text/javascript" src="{{ url_for('main.static', filename='js/vendor/modernizr-2.8.3.min.js') }}"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        


        {% block header %}
          <header>
            <div class="topSec"> 
              <div class="container clearfix">
                <ul class="pull-left headerInfo">
                  <li class="contactInfo">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>+2348011122222</span>
                    <span class="slash">|</span>
                  </li>
                  <li class="addressInfo">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span>Block 3, new avenue, Lekki, Lagos</span>
                  </li>
                </ul>
                <ul class="pull-right">
                  <li>
                    <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
                  </li>
                  <li>
                    <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a>
                  </li>
                  <li>
                    <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
                  </li>
                  <li>
                    <a href="{{ url_for('.cart') }}">
                      <i class="fa fa-shopping-basket" aria-hidden="true"></i>
                      <span class="count">{% if session['quantity'] %} {{ session['quantity'] }} {% else %} 0 {% endif %}</span>
                    </a>
                  </li>
                </ul>
              </div> 
            </div>
            <div class="clearfix"></div>
            <div class="bottomSec">
              <div class="container">
                <div class="col-md-3 pl-0">
                  <ul class="logoSec">
                    <li class="logo">
                        <a href="/">
                            Cake Logo
                        </a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-9 pr-0">
                  <ul class="rightNav">
                    <li>
                        <a {% if request.path == '/' %} class="active" {% endif %} href="/">Home</a>
                    </li>
                    <li>
                        <a {% if request.path == '/store' or request.path == '/product' %} class="active" {% endif %} href="{{ url_for('.store') }}">Store</a>
                    </li>
                    <li>
                        <a {% if request.path == '/about' %} class="active" {% endif %} href="{{ url_for('.about') }}">About</a>
                    </li>
                    
                    <li>
                        <a {% if request.path == '/services' %} class="active" {% endif %} href="{{ url_for('.services') }}">Services</a>
                    </li>
                    <li>
                        <a {% if request.path == '/cart' or request.path == '/payment' %} class="active" {% endif %} href="{{ url_for('.cart') }}">Cart</a>
                    </li>
                    <li>
                        <a {% if request.path == '/contact' %} class="active" {% endif %} href="{{ url_for('.contact') }}">Contact</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </header>
        {% endblock %}


          <div id="main clearfix">
          
            {% block body %}{% endblock %}
            
          </div>

          {% block footer %}
          <footer>
              <div class="container">
                  <ul>
                      <li>
                          <a href="#"> About Us</a>
                      </li>
                      <li>
                          <a href="#"> Contact Us</a>
                      </li>
                      <li>
                          <a href="#">Return Policy</a>
                      </li>
                      <li>
                          <a href="#">Terms & Conditions</a>
                      </li>
                      <li>
                          info@cakes.com
                      </li>
                      <li>
                          +23470781111234
                      </li>
                  </ul>
              </div>
          </footer>
          {% endblock %}
          



        <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script type="text/javascript" src="{{ url_for('main.static', filename='js/angular.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('main.static', filename='js/plugins.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('main.static', filename='js/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('main.static', filename='js/generalController.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('main.static', filename='js/swiper.jquery.min.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('main.static', filename='js/imagezoom.js') }}"></script>
        <script type="text/javascript" src="{{ url_for('main.static', filename='js/jquery.flexslider.js') }}"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        <script type="text/javascript" src="{{ url_for('main.static', filename='js/main.js') }}"></script>


        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
    </body>
</html>
