{% extends "main/layout.html" %}

{% block body %}
	<section class="cakeStore headerTop">
		<div class="container">
			<div class="row">


			<form action="" method="post" class="row contact_form">
				{{ form.csrf_token }}
				{{ form.errors }}
			<section class="row PaymentForm">
		        <div class="container">
		            <div class="row">
		                <div class="col-sm-8">
		                    <h3 class="contact_section_title">Billing Information</h3>
		                    <div class="contactForm">
		                            <div class="">
		                                <div class="col-sm-12">
		                                    <div class="form-group">
		                                        <label for="name">Full Name</label>
		                                        <input type="text" class="form-control" id="name" name="full_name">
		                                    </div>
		                                </div>
		                                <div class="col-sm-6">
		                                    <div class="form-group">
		                                        <label for="phone">Phone Number</label>
		                                        <input type="text" class="form-control" id="phone" name="phone">
		                                    </div>
		                                </div>
		                                <div class="col-sm-6">
		                                    <div class="form-group">
		                                        <label for="email">E-mail Address</label>
		                                        <input type="email" class="form-control" id="email" name="email">
		                                    </div>
		                                </div>
		                                <div class="col-sm-6">
		                                    <div class="form-group">
		                                        <label for="phone">Street Address</label>
		                                        <input type="text" class="form-control" id="address" name="address">
		                                    </div>
		                                </div>
		                                <div class="col-sm-6">
		                                    <div class="form-group">
		                                        <label for="email">City</label>
		                                        <input type="text" class="form-control" id="city" name="city">
		                                    </div>
		                                </div>

		                                <div class="col-sm-6">
		                                    <div class="form-group">
		                                        <label for="phone">State</label>
		                                        {{ form.state(class_="form-control") }}
		                                    </div>
		                                </div>
		                                <div class="col-sm-6">
		                                    <div class="form-group">
		                                        <label for="email">Country</label>
		                                        {{ form.country(class_="form-control") }}
		                                    </div>
		                                </div>
		                            </div>
		                            <div class="m0">
		                                <div class="col-sm-12 ">
		                                    <label for="message">Additional Information</label>
		                                    <textarea name="additional" id="message" class="form-control"></textarea>
		                                </div>
		                            </div>

		                    </div>
		                </div>
		                <div class="col-sm-4 billingInfo">
		                    <h3 class="contact_section_title">Billing Information</h3>
		                    <div class="address">
		                        <div class="billingInfo">
		                            <section>
		                                <div class="title">Select Payment Option</div>
		                                <div class="info">
		                                    <div class="checkbox">
		                                        <label style="padding: 0;">
		                                          <input type="radio" name="payment_type" value="1" checked> Pay on delivery
		                                        </label>
		                                    </div>
		                                </div>
		                            </section>
		                            <section>
		                                <div class="title">Select Delivery Option</div>
		                                <div class="info">
		                                    <div class="checkbox">
		                                        <label style="padding: 0;">
		                                          <input type="radio" name="delivery_type" value="1" checked>Delivery
		                                        </label>
												<label style="padding: 0;">
		                                          <input type="radio" name="delivery_type" value="2">Pickup
		                                        </label>
		                                    </div>
		                                </div>
		                            </section>
		                            <section>
										<button class="btn btn-success completeOrder" type="submit">Complete Order</button>
		                            </section>
		                        </div>
		                    </div>
		                </div>
		            </div>
		        </div>
		    </section>
			</form>

			</div>
		</div>
	</section>
{% endblock %}