{% extends "main/layout.html" %}

{% block body %}
	<section class="product headerTop">
		<div class="container">
			<div class="col-md-12 pl-0">
	            <div class="col-md-5 pl-0 productImageWrap">
	                <div class="flexslider">
	                    <ul class="slides">
                            {% for pic in product.pictures %}
                                <li data-thumb="{{ pic.url }}">
                                    <div class="thumb-image"> <img src="{{ pic.url }}" data-imagezoom="true" class="img-responsive"> </div>
                                </li>
                            {% endfor %}
	                    </ul>
	                </div>
	            </div>
	            <div class="col-md-7">
	                <div class="productInfoWrap">
	                    <h3>{{product}}</h3>
	                    <div class="PriceWrap">
                            {% if product.discounted %}
                                <span class="price">₦{{ product.discount.nairaPrice }}</span>
                                <span class="discount"> <strike>₦{{ product.nairaPrice }}</strike> </span>
                            {% else %}
                                <span class="price">₦{{ product.nairaPrice }}</span>
                            {% endif %}
	                        <div class="clearfix"></div>
	                    </div>
	                    <!-- <h4 class="reviewHeading">Description:</h4> -->
	                    <p class="proInfo">{{ product.description }}</p>
                        <form action="" method="post">
                            {{ form.csrf_token }}
                            <div class="quantity">
                                <div class="quantity-select">
                                    <div class="entry value-minus">&nbsp;</div>
                                    <input name="quantity" class="entry value" value="1" readonly />
                                    <div class="entry value-plus active">&nbsp;</div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="buyBtnWrap">
                                <button class="btn" style="padding: 15px 35px; background: #e47277; color: #fff; font-weight: 600;
    text-transform: uppercase; text-decoration: none;" type="submit">Buy Now</button>
                            </div>
                        </form>
	                </div>

	            </div>
	        </div>
	        <div class="col-md-12">
				<section class="featuredPrdt">
					<div class="title">You may also like</div>
					<div class="products">
			            <div class="">
			                <div class="row">
								{% for ft in featured %}
			                    <div class="col-md-3">
			                        <a href="{{ url_for('.product', prod_id=ft.id) }}">
			                            <div class="choice">
											{% if ft.status != 0 %}
												<div class="ribbon"><span>Out of stock</span></div>
											{% endif %}
											<div class="productName">{{ ft.name }}</div>
											<div class="imgSec" style="background-image:url('{{ ft.defaultImage.url }}')"></div>
											<div class="descriptn">{{ ft.description}}</div>
											{% if ft.discounted %}
												<div class="discount"><strike>₦{{ ft.nairaPrice }}</strike></div>
												<div class="price">₦{{ ft.discount.nairaPrice}}</div>
											{% else %}
												<div class="price">₦{{ ft.nairaPrice}}</div>
											{% endif %}
										</div>
			                        </a>
			                    </div>
								{% endfor %}
			                </div>
			            </div>
			        </div>
				</section>
	        </div>
		</div>
	</section>
{% endblock %}