{% extends "main/layout.html" %}

{% block body %}
	<section class="services headerTop">
		<div class="bannerSection" style="background-image: url('{{ url_for('main.static', filename='img/contacts-bg.jpg') }}');">
			<div class="overlay">
                <h1 class="caption">Amazing Cakes</h1>
            </div>
		</div>
	</section>
	<section class="Services">
    <div class="heading">
        Our Services
    </div>
    <div class="serviceWrap">
        <div class="container">
            <div class="col-md-4">
                <div class="dService">
                    <a href="#">
                        <div class="serviceIcon">
                            <img src="{{ url_for('main.static', filename='img/service-icon.png') }}" alt="">
                        </div>
                        <div class="title">
                            Birthday Cakes Baking
                        </div>
                        <div class="serviceCaption">
                            Suspendisse potenti. Etiam non euismod augue. Nam aliquam sit amet tortor sit amet consectetur.
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="dService">
                    <a href="#">
                        <div class="serviceIcon">
                            <img src="{{ url_for('main.static', filename='img/service-icon2.png') }}" alt="">
                        </div>
                        <div class="title">
                            Delivery To Any Point
                        </div>
                        <div class="serviceCaption">
                            Suspendisse potenti. Etiam non euismod augue. Nam aliquam sit amet tortor sit amet consectetur.
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="dService">
                    <a href="#">
                        <div class="serviceIcon">
                            <img src="{{ url_for('main.static', filename='img/service-icon5.png') }}" alt="">
                        </div>
                        <div class="title">
                            Catering
                        </div>
                        <div class="serviceCaption">
                            Suspendisse potenti. Etiam non euismod augue. Nam aliquam sit amet tortor sit amet consectetur.
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="dService">
                    <a href="#">
                        <div class="serviceIcon">
                            <img src="{{ url_for('main.static', filename='img/service-icon3.png') }}" alt="">
                        </div>
                        <div class="title">
                            Birthday Gifts
                        </div>
                        <div class="serviceCaption">
                            Suspendisse potenti. Etiam non euismod augue. Nam aliquam sit amet tortor sit amet consectetur.
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="dService">
                    <a href="#">
                        <div class="serviceIcon">
                            <img src="{{ url_for('main.static', filename='img/service-icon4.png') }}" alt="">
                        </div>
                        <div class="title">
                            Cup Cakes
                        </div>
                        <div class="serviceCaption">
                            Suspendisse potenti. Etiam non euismod augue. Nam aliquam sit amet tortor sit amet consectetur.
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="dService">
                    <a href="#">
                        <div class="serviceIcon">
                            <img src="{{ url_for('main.static', filename='img/service-icon8.png') }}" alt="">
                        </div>
                        <div class="title">
                            Training
                        </div>
                        <div class="serviceCaption">
                            Suspendisse potenti. Etiam non euismod augue. Nam aliquam sit amet tortor sit amet consectetur.
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}