{% extends "main/layout.html" %}
{% set active_page = "store" %}
{% block body %}
	<section class="cakeStore headerTop">
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<div class="filterSec">
						<div class="searchSec">
							<form action="">
								<div class="formWrap clearfix">
									<input type="text" placeholder="Search Products">
									<button type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
								</div>
							</form>
						</div>
						<div class="categoryFilter">
							<div class="title mb-15">Price Filter</div>
							<div id="slider-range"></div>
								<input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
						</div>
						<div class="categoryFilter">
							<div class="title">Product Categories</div>
							{% for cat in categories %}
                                <div class="category{% if loop.first %} mt-20 {% endif %}">
                                  <input type="checkbox" id="{{ cat.id }}" class="check-with-label" style="display: none;" />
                                  <label for="{{ cat.id }}" class="label-for-check clearfix">
                                        {{ cat.name }}
                                  </label>
                                </div>

							{% endfor %}
						</div>
					</div>
				</div>
				<div class="col-md-9">
					<div class="productSec clearfix">
						<form action="">
							<div class="formWrap pull-right">
								<label for="">Filter By: </label>
								<select name="" id="">
									<option value="">Lowest - Highest</option>
									<option value="">Highest - Lowest</option>
									<option value="">Discount</option>
								</select>
							</div>
						</form>
						<div class="clearfix"></div>
						<div class="products">
				            <div class="">
				                <div class="row">
									{% for product in products %}
				                    <div class="col-md-4">
				                        <a href="{{ url_for('.product', prod_id=product.id) }}">
				                            <div class="choice">
				                            	{% if product.status != 0 %}
													<div class="ribbon"><span>Out of stock</span></div>
												{% endif %}
												<div class="productName">{{ product.name }}</div>
												<div class="imgSec" style="background-image:url('{{ product.defaultImage.url }}')"></div>
												<div class="descriptn">{{ product.description}}</div>
												{% if product.discounted %}
													<div class="discount"><strike>₦{{ product.nairaPrice }}</strike></div>
													<div class="price">₦{{ product.discount.nairaPrice}}</div>
												{% else %}
													<div class="price">₦{{ product.nairaPrice}}</div>
												{% endif %}
				                            </div>
				                        </a>
				                    </div>
									{% endfor %}
				                </div>
				            </div>
				        </div>
					</div>
					<nav aria-label="Page navigation">
					  <ul class="pagination pull-right">
					    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
					    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
					    <li class=""><a href="#">2 <span class="sr-only">(current)</span></a></li>
					    <li class=""><a href="#">3 <span class="sr-only">(current)</span></a></li>
					    <li class=""><a href="#">4 <span class="sr-only">(current)</span></a></li>
					    <li class=""><a href="#">5 <span class="sr-only">(current)</span></a></li>
					    <li class=""><a href="#">6 <span class="sr-only">(current)</span></a></li>
					    <li class=""><a href="#">7 <span class="sr-only">(current)</span></a></li>
					  </ul>
					</nav>
				</div>
			</div>
		</div>
	</section>
{% endblock %}