{% extends "admin/layout.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='plugins/datatables/dataTables.bootstrap.css') }}">
{% endblock %}
{% block header %}
    <h1>
        Audit Trail
    </h1>
{% endblock %}
{% block body %}


<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                <table id="categories" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Action</th>
                            <th>Description</th>
                            <th>Affected Item</th>
                            <th>Initiator</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for audit in audits %}
                            <tr>
                                <td>
                                    {{ audit.category }}
                                </td>
                                <td>
                                    {{ audit.description }}
                                </td>
                                <td>{{ audit.get_item }}</td>
                                <td>
                                    {{ audit.owner.full_name }}
                                </td>
                                <td>{{ audit.date(audit.date_created) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.row (main row) -->
{% endblock %}
{% block javascript %}
    <script src="{{ url_for('admin.static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('admin.static', filename='plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
    <script>
        $(function () {
            $('#categories').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': [-1] /* 1st one, start by the right */
                }],
                "language": {
                    "emptyTable": "There are no items to display"
                }
            });
        });
</script>
{% endblock %}