{% extends "admin/layout.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='plugins/datatables/dataTables.bootstrap.css') }}">
{% endblock %}
{% block header %}
    <h1>
        Discount History
        <small>History of all created discounts</small>
    </h1>
{% endblock %}
{% block body %}


<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                <table id="categories" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Product Price</th>
                            <th>Discounted Price</th>
                            <th>Created By</th>
                            <th>Date Created</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dis in discounts %}
                            <tr>
                                <td>
                                    <a href="{{ url_for('.view_product', id=dis.product_id) }}" title="View {{dis.product.name}}">{{ dis.product.name }}</a>
                                </td>
                                <td>
                                    ₦{{dis.format_price(dis.product_price)}}
                                </td>
                                <td>
                                    ₦{{dis.format_price(dis.discount_price)}}
                                </td>
                                <td>{{ dis.creator.full_name }}</td>
                                <td>{{ dis.date(dis.date_created) }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.row (main row) -->
{% endblock %}
{% block javascript %}
    <script src="{{ url_for('admin.static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('admin.static', filename='plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
    <script>
        $(function () {
            $('#categories').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': [-1] /* 1st one, start by the right */
                }],
                "language": {
                    "emptyTable": "There are no items to display"
                }
            });
        });
</script>
{% endblock %}