{% extends "admin/layout.html" %}
{% block header %}
    <h1>
        {{product.name}}
    </h1>
{% endblock %}
{% block body %}
<!-- form errors -->
{% if form.errors %}
<div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4><i class="icon fa fa-ban"></i> Error!</h4>
    {% for field, errors in form.errors.iteritems() %}
        <p>{{ form[field].label }}: {{ ', '.join(errors) }}</p>
    {% endfor %}
</div>
{% endif %}

<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <form action="" method="post">
                {{ form.csrf_token }}
                <div class="box-header with-border">
                    <h3 class="box-title">Edit {{product.name}}</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div class="form-group">
                        <label class="control-label">Product Name</label>
                        {{ form.name(class_='form-control') }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Description</label>
                        {{ form.description(class_='form-control', rows=6) }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Price(₦)</label>
                        {{ form.price(class_='form-control') }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Category</label>
                        {{ form.category(id="category", class_='form-control') }}
                    </div>
                </div>
                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Update Product</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- /.row (main row) -->

{% endblock %}