<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>cake Admin</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='bootstrap/css/bootstrap.min.css') }}">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='dist/css/font-awesome.min.css') }}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='dist/css/ionicons.min.css') }}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='dist/css/AdminLTE.min.css') }}">
    <!-- AdminLTE Skins. Choose a skin from the css/skins folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='dist/css/skins/skin-blue.min.css') }}">
    {% block css %}{% endblock %}
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{{ url_for('admin.static', filename='dist/js/html5shiv.min.js') }}"></script>
    <script src="{{ url_for('admin.static', filename='dist/js/respond.min.js') }}"></script>
    <![endif]-->

      <!-- Google Font -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  <header class="main-header">
    <!-- Logo -->
    <a href="index2.html" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini"><b>A</b>LT</span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>Admin</b>LTE</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown user user-menu">
            <a>
              <img src="{{ url_for('admin.static', filename='dist/img/user2-160x160.jpg') }}" class="user-image" alt="User Image">
              <span class="hidden-xs">{{ current_user.full_name }}</span>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li {% if request.path == '/' or request.path == '/dashboard' %} class="active" {% endif %}>
          <a href="#">
              <i class="fa fa-dashboard"></i> <span>Dashboard</span>
          </a>
        </li>
        <li {% if request.path == '/manage-categories' %} class="active" {% endif %}>
          <a href="{{ url_for('.manage_categories') }}">
            <i class="fa fa-object-group"></i> <span>Categories</span>
          </a>
        </li>
        <li {% if request.path == '/manage-products' %} class="active" {% endif %}>
          <a href="{{ url_for('.manage_products')}}">
            <i class="fa fa-binoculars"></i> <span>Products</span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-dollar"></i> <span>Discounts</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{ url_for('.manage_discounts') }}"><i class="fa fa-shopping-cart"></i> Discounted Products</a></li>
            <li><a href="{{ url_for('.view_discount_history') }}"><i class="fa fa-book"></i> Discount History</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-shopping-cart"></i> <span>Orders</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="#"><i class="fa fa-shopping-cart"></i> All Orders</a></li>
            <li><a href="#"><i class="fa fa-shopping-basket"></i> Pending Orders</a></li>
            <li><a href="#"><i class="fa fa-shopping-bag"></i> Delivered Orders</a></li>
          </ul>
        </li>
        <li>
          <a href="#">
            <i class="fa fa-question-circle"></i> <span>Enquiries</span>
          </a>
        </li>
        <li {% if request.path == '/manage-users' %} class="active" {% endif %}>
          <a href="{{ url_for('.manage_users')}}">
            <i class="fa fa-group"></i> <span>Users</span>
          </a>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-bar-chart"></i> <span>Reports</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{ url_for('.view_audit') }}"><i class="fa fa-user-times"></i> Audit Trail</a></li>
            <li><a href="#"><i class="fa fa-money"></i> Transaction Log</a></li>
            <li><a href="#"><i class="fa fa-object-group"></i> Category Report</a></li>
          </ul>
        </li>
        <li>
          <a href="{{ url_for('.logout') }}">
            <i class="fa fa-sign-out"></i> <span>Logout</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        {% block header %}
            <h1>
                Dashboard
                <small>Control panel</small>
            </h1>
        {% endblock %}
    </section>

    <!-- Main content -->
    <section class="content">
    <!-- start main content -->
      {% block flask %}
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    {% if category == 'success' %}
                        <div class="alert alert-success alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4><i class="icon fa fa-check"></i> Success!</h4>
                            {{ message }}
                        </div>
                    {% else %}
                        <div class="alert alert-danger alert-dismissible">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <h4><i class="icon fa fa-ban"></i> Error!</h4>
                            {{ message }}
                        </div>
                     {% endif %}
                {% endfor %}
            {% endif %}
        {% endwith %}
      {% endblock %}
      {% block body %}{% endblock %}
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->
  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>All rights reserved</b>
    </div>
    <strong>Copyright &copy; 2017 <a href="#">Almsaeed Studio</a></strong>
  </footer>

</div>
<!-- ./wrapper -->

<!-- jQuery 3.1.1 -->
<script src="{{ url_for('admin.static', filename='plugins/jQuery/jquery-3.1.1.min.js') }}"></script>
<!-- jQuery UI 1.11.4 -->
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.7 -->
<script src="{{ url_for('admin.static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
<!-- Sparkline -->
<script src="{{ url_for('admin.static', filename='plugins/sparkline/jquery.sparkline.min.js') }}"></script>
<!-- jQuery Knob Chart -->
<script src="{{ url_for('admin.static', filename='plugins/knob/jquery.knob.js') }}"></script>
<!-- Slimscroll -->
<script src="{{ url_for('admin.static', filename='plugins/slimScroll/jquery.slimscroll.min.js') }}"></script>
<!-- FastClick -->
<script src="{{ url_for('admin.static', filename='plugins/fastclick/fastclick.js') }}"></script>
<!-- AdminLTE App -->
<script src="{{ url_for('admin.static', filename='dist/js/adminlte.min.js') }}"></script>
{% block javascript %}
{% endblock %}
</body>
</html>
