{% extends "admin/layout.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='plugins/datatables/dataTables.bootstrap.css') }}">
{% endblock %}
{% block header %}
    <h1>
        Users
        <small>Manage Users</small>
        <span class="pull-right">
            <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal-create-user">
                <i class="fa fa-plus-circle"></i>
                Create User
            </button>
        </span>
    </h1>
{% endblock %}
{% block body %}
<!-- form errors -->
{% if form.errors %}
<div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4><i class="icon fa fa-ban"></i> Error!</h4>
    {% for field, errors in form.errors.iteritems() %}
        <p>{{ form[field].label }}: {{ ', '.join(errors) }}</p>
    {% endfor %}
</div>
{% endif %}
<!-- end form errors -->

<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                <table id="users" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Full Name</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Account Type</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users %}
                            <tr>
                                <td>{{ user.full_name }}</td>
                                <td>{{ user.username }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.user_type }}</td>
                                <td>{{ user.statusText }}</td>
                                <td>
                                    {% if current_user.id != user.id %}
                                        {% if user.status == 0 %}
                                            <a href="{{ url_for('.toggle_user_status', id=user.id, action=1) }}" title="Deactivate User"><i class="icon fa fa-ban"></i></a>
                                        {% else %}
                                            <a href="{{ url_for('.toggle_user_status', id=user.id, action=0) }}" title="Activate User"><i class="icon fa fa-check"></i></a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.row (main row) -->

<div class="modal fade" id="modal-create-user">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Create User</h4>
            </div>
            <form action="" method="post">
                <div class="modal-body">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        <label class="control-label">Full Name</label>
                        <input type="text" class="form-control" placeholder="Enter Full Name" name="full_name" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Username</label>
                        <input type="text" class="form-control" placeholder="Enter Username" name="username" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Email</label>
                        <input type="email" class="form-control" placeholder="Enter Email Address" name="email" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Password</label>
                        <input type="password" class="form-control" placeholder="Enter a Password" name="password" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Confirm Password</label>
                        <input type="password" class="form-control" placeholder="Enter a Password" name="confirm_password" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Account Type</label>
                        {{ form.user_type(class_='form-control') }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save User</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->
{% endblock %}
{% block javascript %}
    <script src="{{ url_for('admin.static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('admin.static', filename='plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
    <script>
        $(function () {
            $('#users').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': [-1] /* 1st one, start by the right */
                }],
                "language": {
                    "emptyTable": "There are no items to display"
                }
            });
        });
</script>
{% endblock %}