{% extends "admin/layout.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='plugins/datatables/dataTables.bootstrap.css') }}">
{% endblock %}
{% block header %}
    <h1>
        Product Discounts
        <small>Manage Discounts</small>
        <span class="pull-right">
            <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal-create-category">
                <i class="fa fa-plus-circle"></i>
                Add Discount
            </button>
        </span>
    </h1>
{% endblock %}
{% block body %}


<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                <table id="categories" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Actual Price</th>
                            <th>Discounted Price</th>
                            <th>Created By</th>
                            <th>Date Created</th>
                            <th>Discount Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for dis in discounts %}
                            <tr>
                                <td>
                                    <a href="{{ url_for('.view_product', id=dis.product_id) }}" title="View {{dis.product.name}}">{{ dis.product.name }}</a>
                                </td>
                                <td>
                                    ₦{{dis.format_price(dis.product.price)}}
                                </td>
                                <td>
                                    ₦{{dis.format_price(dis.discount_price)}}
                                </td>
                                <td>{{ dis.last_update.full_name }}</td>
                                <td>{{ dis.date(dis.date_updated) }}</td>
                                <td>{{ dis.statusText }}</td>
                                <td>
                                    {% if dis.status == 0 %}
                                        <a href="{{ url_for('.toggle_discount_status', id=dis.id, action=1) }}" title="Suspend Discount"><i class="icon fa fa-ban"></i></a>
                                    {% else %}
                                        <a href="{{ url_for('.toggle_discount_status', id=dis.id, action=0) }}" title="Activate Discount"><i class="icon fa fa-check"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.row (main row) -->

<div class="modal fade" id="modal-create-category">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Discount</h4>
            </div>
            <form action="" method="post">
                {{ form.csrf_token }}
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label">Category</label>
                        {{ form.category(id='category',class_='form-control') }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Product</label>
                        {{ form.product(id='product',class_='form-control') }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Discount Price</label>
                        {{ form.price(class_='form-control') }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

{% endblock %}
{% block javascript %}
    <script src="{{ url_for('admin.static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('admin.static', filename='plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
    <script>
        $(function () {
            $('#categories').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': [-1] /* 1st one, start by the right */
                }],
                "language": {
                    "emptyTable": "There are no items to display"
                }
            });
        });
    </script>
    <script>
          $("#category").change(function() {

            // grab value
            var category_id = $("#category").val();

            // send value via GET to URL /<department_id>
            var get_request = $.ajax({
              type: 'GET',
              url: '/admin/products/' + category_id + '/',
            });

            // handle response
            get_request.done(function(data){

              var option_list = data;
              $("#product").empty();
                for (var i = 0; i < option_list.length; i++) {
                  $("#product").append(
                    $("<option></option>").attr("value", option_list[i][0]).text(option_list[i][1]));
                }
            });
          });
    </script>
{% endblock %}