{% extends "admin/layout.html" %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('admin.static', filename='plugins/datatables/dataTables.bootstrap.css') }}">
{% endblock %}
{% block header %}
    <h1>
        Products
        <small>Manage Products</small>
        <span class="pull-right">
            <button class="btn btn-success btn-sm" data-toggle="modal" data-target="#modal-create-category">
                <i class="fa fa-plus-circle"></i>
                Add Product
            </button>
        </span>
    </h1>
{% endblock %}
{% block body %}
<!-- form errors -->
{% if form.errors %}
<div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4><i class="icon fa fa-ban"></i> Error!</h4>
    {% for field, errors in form.errors.iteritems() %}
        <p>{{ form[field].label }}: {{ ', '.join(errors) }}</p>
    {% endfor %}
</div>
{% endif %}

<!-- Small boxes (Stat box) -->
<div class="row">
    <div class="col-md-12">
        <div class="box">
            <!-- /.box-header -->
            <div class="box-body">
                <table id="categories" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Product</th>
                            <th>Description</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Is Discounted?</th>
                            <th>Date Created</th>
                            <th>Status</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr>
                                <td>
                                    <a href="{{ url_for('.view_product', id=product.id) }}" title="View {{product.name}}">{{ product.name }}</a>
                                </td>
                                <td>{{ product.description }}</td>
                                <td>{{ product.category }}</td>
                                <td>₦{{ product.nairaPrice }}</td>
                                <td>{{ product.discountedText }}</td>
                                <td>{{ product.date }}</td>
                                <td>{{ product.statusText }}</td>
                                <td>
                                    <a href="{{ url_for('.view_product', id=product.id) }}" title="View {{product.name}}"><i class="icon fa fa-eye"></i></a>
                                    {% if product.status == 0 %}
                                        <a href="{{ url_for('.toggle_product_status', id=product.id, action=1) }}" title="Deactivate {{product.name}}"><i class="icon fa fa-ban"></i></a>
                                    {% else %}
                                        <a href="{{ url_for('.toggle_product_status', id=product.id, action=0) }}" title="Reactivate {{product.name}}"><i class="icon fa fa-check"></i></a>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- /.row (main row) -->

<div class="modal fade" id="modal-create-category">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Create Product</h4>
            </div>
            <form action="" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    {{ form.csrf_token }}
                    <div class="form-group">
                        <label class="control-label">Product Name</label>
                        <input type="text" class="form-control" placeholder="Enter Product Name" name="name" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <textarea class="form-control" name="description"></textarea>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Category</label>
                        {{ form.category(id="category", class_='form-control') }}
                    </div>
                    <div class="form-group">
                        <label class="control-label">Price</label>
                        <input type="text" class="form-control" placeholder="Enter Price" name="price" required>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Main Image</label>
                        <input type="file" name='image1' class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Other Images</label>
                        <input type="file" name='image2' class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Other Images</label>
                        <input type="file" name='image3' class="form-control">
                    </div>
                    <div class="form-group">
                        <label class="control-label">Other Images</label>
                        <input type="file" name='image4' class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Product</button>
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->

{% endblock %}
{% block javascript %}
    <script src="{{ url_for('admin.static', filename='plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ url_for('admin.static', filename='plugins/datatables/dataTables.bootstrap.min.js') }}"></script>
    <script>
        $(function () {
            $('#categories').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": true,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                'aoColumnDefs': [{
                    'bSortable': false,
                    'aTargets': [-1] /* 1st one, start by the right */
                }],
                "language": {
                    "emptyTable": "There are no items to display"
                }
            });
        });
    </script>
{% endblock %}