{% extends "admin/layout.html" %}
{% block header %}
    <h1>
        {{product.name}}
        <small>{{product.category}}</small>
        <span class="pull-right">
            <a href="{{ url_for('.edit_product', id=product.id) }}">
                <button class="btn btn-primary btn-sm">
                    <i class="fa fa-edit"></i>
                    Edit Product
                </button>
            </a>
            <button class="btn btn-info btn-sm" data-toggle="modal" data-target="#modal-add-discount">
                <i class="fa fa-plus-circle"></i>
                Add Discount
            </button>
        </span>
    </h1>
{% endblock %}

{% block body %}
<!-- form errors -->
{% if form.errors %}
<div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4><i class="icon fa fa-ban"></i> Error!</h4>
    {% for field, errors in form.errors.iteritems() %}
        <p>{{ form[field].label }}: {{ ', '.join(errors) }}</p>
    {% endfor %}
</div>
{% endif %}

<!-- form errors -->
{% if imgForm.errors %}
<div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <h4><i class="icon fa fa-ban"></i> Error!</h4>
    {% for field, errors in imgForm.errors.iteritems() %}
        <p>{{ imgForm[field].label }}: {{ ', '.join(errors) }}</p>
    {% endfor %}
</div>
{% endif %}

<!-- Main content -->
<div class="row">
    <div class="col-md-12">
      <!-- Default box -->
      <div class="box">
        <div class="box-header with-border">
          <h3 class="box-title">{{product.name}}</h3>
        </div>
        <div class="box-body">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Product Name:</label>
                    <div>{{product.name}}</div>
                </div>
                <div class="form-group">
                    <label>Product Description:</label>
                    <div>{{product.description}}</div>
                </div>
                <div class="form-group">
                    <label>Category:</label>
                    <div>{{product.category}}</div>
                </div>
                <div class="form-group">
                    <label>Price</label>
                    <div>₦{{product.nairaPrice}}</div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Created By:</label>
                    <div>{{product.creator}}</div>
                </div>
                <div class="form-group">
                    <label>Date Created:</label>
                    <div>{{product.date}}</div>
                </div>
                <div class="form-group">
                    <label>Current Status:</label>
                    <div>{{product.statusText}}</div>
                </div>
                <div class="form-group">
                    <label>Discounted?</label>
                    <div>{{product.discountedText}}</div>
                </div>
                <div class="form-group">
                    <label>Discount Price</label>
                    <div>
                        {% if product.discount %}
                            ₦{{product.discount.format_price(product.discount.discount_price)}}
                        {% else %}
                            -
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Product Images</h3>
                <button class="btn btn-sm btn-success pull-right" {% if product.pictureCount >= 4 %} disabled {% endif %}
                    data-toggle="modal" data-target="#modal-add-image">Add Image</button>
            </div>
            <div class="box-body">
                {% for img in product.pictures %}
                    <div class="col-sm-3">
                    <img src="{{img.url}}" style="height: 150px; width: auto;" class="img-thumbnail" /><br/><br/>
                    <a href="{{ url_for('.delete_picture', id=img.id) }}"><button class="btn btn-danger">Delete</button></a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- /.content-wrapper -->

<!-- Discount form -->
<div class="modal fade" id="modal-add-discount">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Create Discount</h4>
            </div>
            <form action="" method="post">
                <div class="modal-body">
                    {{ form.csrf_token }}
                    {{ form.product_id(value=product.id) }}
                    <div class="form-group">
                        <label class="control-label">Discount Price</label>
                        {{ form.price(class_='form-control') }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                    <!--<button type="submit" class="btn btn-primary">Save Discount</button>-->
                    {{ form.submit(class_="btn btn-primary") }}
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- Image form -->
<div class="modal fade" id="modal-add-image">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Image</h4>
            </div>
            <form action="" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    {{ imgForm.csrf_token }}
                    <div class="form-group">
                        <label class="control-label">Product Image</label>
                        {{ imgForm.image(class_='form-control') }}
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal">Close</button>
                    <!--<button type="submit" class="btn btn-primary">Upload Image</button>-->
                    {{ imgForm.upload(class_="btn btn-primary") }}
                </div>
            </form>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<!-- /.modal -->
{% endblock %}