/*
 ####################################
        Philosopher FONT
 ####################################
 */

@font-face {
    font-family: Philosopher;
    src: url('Philosopher-Bold.ttf');
    font-style: bold;
    font-weight: 600;
}
@font-face {
    font-family: Philosopher;
    src: url('Philosopher-BoldItalic.ttf');
    font-style: italic;
    font-weight: 600;
}
@font-face {
    font-family: Philosopher;
    src: url('Philosopher-Italic.ttf');
    font-style: italic;
    font-weight: 500;
}
@font-face {
    font-family: Philosopher;
    src: url('Philosopher-Regular.ttf');
    font-style: normal;
    font-weight: 500;
}

