body{
    background-color: #fbfbfb;
    font-family: 'Philosopher';
    font-weight: normal;
    font-size: 14px;
    line-height: 1;
}
.pl-0{
    padding-left: 0;
}
.pr-0{
    padding-right: 0;
}
.mt-20{
    margin-top: 20px;
}
.headerTop{
    margin-top: 104px;
}
header{
    height: auto;
    font-size: 18px;
    background-color: #fbfbfb;
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    color: #fff;
    z-index: 10;
    .topSec{
        height: 35px;
        line-height: 35px;
        background-color: #3C3D41;
        color: #fbfbfb;
        .headerInfo{
            .contactInfo{
                i{}
                span{
                    display: inline-block;
                    padding-right: 10px;
                } 
            }
            .addressInfo{
                i{
                    display: inline-block;
                    padding-left: 10px;
                }
                span{
                    
                }
            }
        }
        ul{
            margin: 0;
            padding: 0;
            &.navLeft{
                float: left;
                i{
                    padding-right: 5px;
                    display: inline-block;
                }
                .slash{
                    padding-left: 10px;
                    padding-right: 10px;
                    display: inline-block;
                }
            }
            &.navRight{
                float: right;
                li{
                    padding-left: 25px;
                    a{

                    }
                }
            }
            li{
                display: inline-block;
                margin-right: 0;
                position: relative;
                font-size: 14px;
                a{
                    display: inline-block;
                    font-size: 14px;
                    padding-left: 19px;
                    color: #fbfbfb;
                    &:hover{
                        color: #e47277;
                    }
                    span.cartText{
                        font-size: 12px;
                        display: inline-block;
                        padding-right: 5px;
                    }
                    span.count{
                        width: 18px;
                        position: absolute;
                        top: 1px;
                        right: -17px;
                        background: red;
                        height: 18px;
                        line-height: 17px;
                        text-align: center;
                        font-weight: 600;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        border-radius: 50%;
                        -moz-background-clip: padding-box;
                        -webkit-background-clip: padding-box;
                        background-clip: padding-box;
                        border: 1px solid transparent;
                        font-size: 11px;
                        z-index: 100;
                        color: #fff;
                        line-height: 17px;
                    }
                    &:focus{
                        outline: none;
                        color: inherit;
                    }
                }
            }
        }
    }
    .bottomSec{
        height: auto;
        line-height: 65px;
        background-color: #fff;
        width: 100%;
        border-bottom: 1px solid #e8e8e8;
        color: #333;
        ul{
            margin: 0;
            padding: 0;
            text-align: center;
            &.logoSec{
                text-align: left;
            }
            &.rightNav{
                text-align: right;
                li{
                    margin-left: 30px;
                    a{
                        font-size: 20px;
                    }
                }
            }
            li{
                display: inline-block;
                position: relative;
                a{
                    cursor: pointer;
                    text-decoration: none;
                    outline: none;
                    color: #555;
                    font-size: 22px;
                    &.active{
                        position: relative;
                        color: #555;
                        &:before{
                            opacity: 1;
                            -webkit-transform: translate(0);
                            transform: translate(0);
                            position: absolute;
                            right: 0;
                            bottom: -7px;
                            left: 0;
                            content: '';
                            width: 100%;
                            height: 1px;
                            background: #e47277;
                        }
                        &:after{
                            opacity: 1;
                            -webkit-transform: translate(0);
                            transform: translate(0);
                            position: absolute;
                            right: 0;
                            bottom: -10px;
                            left: 0;
                            content: '';
                            width: 100%;
                            height: 1px;
                            background: #e47277;
                        }
                    }
                    &:hover{
                        text-decoration: none;
                        color: #e47277;
                    }
                }
                &.logo{
                    position: relative;
                    a{
                        font-size: 30px;
                        color: #e47277;
                        &:hover{
                            text-decoration: none;
                            color: #e47277;
                        }
                    }
                }
            }
        }
    }
    
}
section.banner{
    height: 30em;
    width: 100%;
    .swiper-slide {
        height: 30em;
        width: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;
        cursor: -webkit-grab;
        .overlay{
            background-color: rgba(0, 0, 0, 0.4);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            right: 0;
            height: 100%;
            width: 100%;
            padding: 9em 20px 20px 20px;
            text-align: center;
            .caption{
                font-family: 'Berkshire Swash';
                color: #fff;
                font-size: 5em;
            }
            .smallCaption{
                color: #fff;
                font-size: 16px;
                padding-top: 10px;
            }
            a.Dbtn{
                display: inline-block;
                border: 1px solid #fff;
                padding: 16px 40px;
                margin-top: 20px;
                color: #fff;
                font-size: 16px;
                &:hover{
                    background-color: #e47277;
                    text-decoration: none;
                    color: #fff;
                    border-color: transparent;
                }
            }
        }
    }
}
section.ourChoice{
    margin-top: 30px;
    .heading{
        color: #323232;
        font-size: 40px;
        line-height: 52px;
        position: relative;
        text-align: center;
        font-weight: bold;
        &:before{
            position: absolute;
            top: 97%;
            right: 0;
            bottom: 0;
            left: 50%;
            content: '';
            width: 85px;
            height: 1px;
            background: #000;
            margin-left: -42px;
        }
        &:after{
            position: absolute;
            top: 101%;
            right: 0;
            bottom: 0;
            left: 50%;
            content: '';
            width: 85px;
            height: 1px;
            background: #000;
            margin-left: -42px;
        }
    }
    .choiceWrap{
        .ourChoiceWrap{
            margin-top: 40px;
            margin-bottom: 40px;
            a{
                color: inherit;
                text-decoration: none;
            }
            .choice{
                text-align: center;
                margin-bottom: 50px;
                position: relative;
                .productName{
                    font-size: 24px;
                    margin-bottom: 15px;
                }
                &:hover{
                    .productName{
                        color: #e47277;
                    }
                }
                .imgSec{
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    position: relative;
                    width: 100%;
                    height: 258px;
                }
                .descriptn{
                    text-align: center;
                    padding-top: 15px;
                    font-size: 16px;
                    line-height: 20px;
                    color: #777;
                }
                .price{
                    font-size: 24px;
                    font-weight: 900;
                    color: #e47277;
                    margin-top: 15px;
                }
            }
            .handPicks{
                .handPickCake{
                    display: inline-block;
                    height: 500px;
                    width: 200px;
                    .heading{
                        height: 25%;
                        width: 100%;
                        background-color: #f4f4f4;
                        padding: 20px;
                        &:before{
                            background-color: transparent;
                        }
                        .title{
                            color: #e47277;
                            transition: all 150ms linear;
                            font-size: 28px;
                            padding-bottom: 20px;
                            line-height: 1;
                        }
                        .cakeCaption{
                            color: #666;
                            max-width: 220px;
                            margin: 0 auto;
                            font-size: 13px;
                            line-height: 1;
                        }
                    }
                    .image{
                        height: 50%;
                        width: 100%;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        position: relative;
                    }
                    .priceWrap{
                        height: 25%;
                        width: 100%;
                        background-color: #f4f4f4;
                        padding: 20px;
                        text-align: center;
                        .cakeCaption2{
                            max-width: 260px;
                            margin: 0 auto;
                            color: #666;
                            font-size: 13px;
                            margin-bottom: 20px;
                        }
                        .price{
                            color: #e47277;
                            text-align: center;
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }
}
section.Services{
    padding-bottom: 5em;
   .heading{
        color: #323232;
        font-size: 35px;
        line-height: 52px;
        position: relative;
        text-align: center;
        font-weight: bold;
        &:before{
            position: absolute;
            top: 97%;
            right: 0;
            bottom: 0;
            left: 50%;
            content: '';
            width: 85px;
            height: 1px;
            background: #000;
            margin-left: -42px;
        }
        &:after{
            position: absolute;
            top: 101%;
            right: 0;
            bottom: 0;
            left: 50%;
            content: '';
            width: 85px;
            height: 1px;
            background: #000;
            margin-left: -42px;
        }
    }
    .serviceWrap{
        margin-top: 40px;
        margin-bottom: 40px;
        &.aboutUs{
            p{
                font-size: 17px;
                line-height: 24px;
                margin-bottom: 25px;
            }
        }
        .dService{
            text-align: center;
            margin-bottom: 5em;
            a{
                display: block;
                color: inherit;
                text-decoration: none;
                &:hover{
                    text-decoration: none;
                }
                .serviceIcon{
                    text-align: center;
                    height: 75px;
                    img{
                        width: auto;
                    }
                }
                .title{
                    font-weight: 600;
                    font-size: 24px;
                    padding: 20px 0;
                }
                .serviceCaption{
                    padding: 0 40px;
                }
            }
        }
    }  
}
section.cakeStore{
    padding: 50px 0;
    .filterSec{
        .searchSec{
            form{
                .formWrap{
                    // border: 1px solid #e8e8e8;
                    height: 40px!important;
                    border-radius: 4px;
                    input{
                        float: left;
                        width: 85%;
                        height: 40px!important;
                        padding: 0 10px;
                        border: 0;
                        outline: none;
                        border-radius:4px 0  4px 0; 
                        border-top: 1px solid #e8e8e8;
                        border-left: 1px solid #e8e8e8;
                        border-bottom: 1px solid #e8e8e8;
                    }
                    button{
                        float: right;
                        width: 15%;
                        height: 100%;
                        border: none;
                        border-radius: 0 4px 4px 0;
                        background: #e47277;
                        color: #fff;
                        outline: none
                    }
                }
            }
        }

        .categoryFilter{
            margin-top: 30px;
            .title{
                font-weight: 600;
                transition: all 150ms linear;
                padding-bottom: 20px;
                position: relative;
                font-size: 20px;
                &:before{
                    opacity: 1;
                    -webkit-transform: translate(0);
                    transform: translate(0);
                    position: absolute;
                    right: 0;
                    bottom: 10px;
                    left: 0;
                    content: '';
                    width: 35%;
                    height: 1px;
                    background: #e47277;
                }
                &:after{
                    opacity: 1;
                    -webkit-transform: translate(0);
                    transform: translate(0);
                    position: absolute;
                    right: 0;
                    bottom: 6px;
                    left: 0;
                    content: '';
                    width: 35%;
                    height: 1px;
                    background: #e47277;
                }
            }
            .mb-15{
                margin-bottom: 15px;
            }
            .ui-widget.ui-widget-content{
                border: 1px solid #f6f6f6;
                margin-top: 15px;
                border-radius: 0;
                height: 5px;
            }
            .ui-state-default, .ui-widget-content .ui-state-default{
                border: 1px solid #f6f6f6;
                background: #e47277;
                font-weight: normal;
                color: #454545;
                width: 10px;
                height: 25px;
                top: -11px;
                outline: none;
            }
            .ui-slider-horizontal .ui-slider-range{
                background-color: #e47277;
            }
            input#amount{
                color: #555!important;
                background-color: transparent;
                width: 100%;
                margin-top: 10px;
            }
            div#slider-range{
                background: #e8e8e8!important;
            }
            .category{
                margin-bottom: 10px;
                border-bottom: 1px solid #efefef;
                padding: 5px 10px;
                label{
                    font-size: 15px;
                    cursor: pointer;
                }
                .check-with-label:checked + .label-for-check {
                    color: #e47277;
                }
            }
        }
    }
    .productSec{
        .formWrap{
            label{
                display: inline-block;
                padding-right: 10px;
            }
            select{
                border: 1px solid #e8e8e8;
                padding: 10px 30px;
                border-radius: 4px;
                outline: none;
            }
        }
        .products{
            margin-top: 40px;
            margin-bottom: 40px;
            a{
                color: inherit;
                text-decoration: none;
            }
            .choice{
                text-align: center;
                margin-bottom: 50px;
                border: 1px solid #dddddd;
                position: relative;
                .productName{
                    font-size: 24px;
                    margin-bottom: 15px;
                }
                &:hover{
                    .productName{
                        color: #e47277;
                    }
                }
                .imgSec{
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    position: relative;
                    width: 100%;
                    height: 258px;
                }
                .descriptn{
                    text-align: center;
                    padding-top: 15px;
                    font-size: 14px;
                    line-height: 20px;
                    color: #777;
                    padding: 5px 20px;
                }
                .name{
                    text-align: center;
                    padding-top: 15px;
                    font-size: 20px;
                    line-height: 20px;
                    color: #555;
                    padding: 5px 20px;
                }
                .discount{
                    font-size: 13px;
                    padding-top: 15px;
                    margin: 0;
                    line-height: 1px;
                    color: red;
                    font-weight: 600;
                }
                .price{
                    font-size: 24px;
                    font-weight: 900;
                    color: #e47277;
                    padding: 10px 20px 20px 20px;
                }
            }
            .handPicks{
                .handPickCake{
                    display: inline-block;
                    height: 500px;
                    width: 200px;
                    background-color: green;
                    .heading{
                        height: 25%;
                        width: 100%;
                        background-color: #f4f4f4;
                        padding: 20px;
                        &:before{
                            background-color: transparent;
                        }
                        .title{
                            color: #e47277;
                            transition: all 150ms linear;
                            font-size: 28px;
                            padding-bottom: 20px;
                            line-height: 1;
                        }
                        .cakeCaption{
                            color: #666;
                            max-width: 220px;
                            margin: 0 auto;
                            font-size: 13px;
                            line-height: 1;
                        }
                    }
                    .image{
                        height: 50%;
                        width: 100%;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                        position: relative;
                    }
                    .priceWrap{
                        height: 25%;
                        width: 100%;
                        background-color: #f4f4f4;
                        padding: 20px;
                        text-align: center;
                        .cakeCaption2{
                            max-width: 260px;
                            margin: 0 auto;
                            color: #666;
                            font-size: 13px;
                            margin-bottom: 20px;
                        }
                        .price{
                            color: #e47277;
                            text-align: center;
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }
    .pagination>.active>a{
        background-color: #e47277;
        border-color: #e47277;
        color: #fff;
    }
    .pagination>li>a{
        color: #e47277;
    }
}
section.product{
    padding: 50px 0;
    .productImageWrap{
        .flexslider{
            background-color: transparent;
            border: none;
            .slides{
                li{

                }
            }
        }
    }
    .productInfoWrap{
        h3{
            font-size: 35px;
            font-weight: 600;
            margin-top: 0;
            margin-bottom: 15px;
        }
        p.productCaption{
            font-size: 17px;
        }
        .PriceWrap{
            .discount{
                color: red;
                font-weight: 600;
                font-size: 14px;
                display: inline-block;
            }
            .price{
                color: #e47277;
                font-weight: 600;
                font-size: 30px;
                display: inline-block;
                margin-right: 10px;
                margin-bottom: 15px;
            }
        }
        h4.reviewHeading{
            font-size: 16px;
            margin-top: 13px;
            display: block;
            margin-bottom: 5px;
            font-weight: 600;
        }
        p.proInfo{
            font-size: 14px;
            line-height: 22px;
        }
        .buyBtnWrap{
            margin-top: 25px;
            a.buyButton{
                padding: 15px 35px;
                background: #e47277;
                color: #fff;
                font-weight: 600;
                text-transform: uppercase;
                text-decoration: none;
            }
        }
        .quantity{
            margin: 1.5em 0;
            float:left;
        }
        .value-minus,
        .value-plus{
            height: 40px;
            line-height: 24px;
            width: 40px;
            margin-right: 3px;
            display: inline-block;
            cursor: pointer;
            position: relative;
            font-size: 18px;
            color: #fff;
            text-align: center;
            -webkit-user-select: none;
            -moz-user-select: none;
            border:1px solid #b2b2b2;
                vertical-align: bottom;
        }
        .quantity-select .entry.value-minus:before,
        .quantity-select .entry.value-plus:before{
            content: ""; 
            width: 13px;
            height: 2px; 
            background: #000;
            left: 50%;
            margin-left: -7px; 
            top: 50%;
            margin-top: -0.5px;
            position: absolute;
        }
        .quantity-select .entry.value-plus:after{
            content: "";
            height: 13px;
            width: 2px; 
            background: #000;
            left: 50%; 
            margin-left: -1.4px;
            top: 50%;
            margin-top: -6.2px;
            position: absolute;
        }
        .value  {
            cursor: default;
            width: 40px;
            height:40px;
            padding: 8px 0px;
            color: #A9A9A9;
            line-height: 24px;
            border: 1px solid #E5E5E5;
            background-color: #E5E5E5;
            text-align: center;
            display: inline-block;
            margin-right: 3px;
        }
        .quantity-select .entry.value-minus:hover,
         .quantity-select .entry.value-plus:hover{
            background: #E5E5E5;
        }

        .quantity-select .entry.value-minus{
            margin-left: 0;
        }
    }
}

footer{
    height: 4em;
    line-height: 4em;
    background-color: #333;
    margin-top: 10em;
    ul{
        margin: 0;
        padding: 0;
        li{
            display: inline-block;
            margin-right: 20px;
            color: #fff;
            font-size: 15px;
            a{
                color: #fff;
                text-decoration: none;
                &:hover{
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}
section.featuredPrdt{
    margin-top: 8em;
    .title{
        color: #323232;
        font-size: 35px;
        line-height: 52px;
        position: relative;
        text-align: center;
        font-weight: bold;
        &:before{
            position: absolute;
            top: 97%;
            right: 0;
            bottom: 0;
            left: 50%;
            content: '';
            width: 85px;
            height: 1px;
            background: #000;
            margin-left: -42px;
        }
        &:after{
            position: absolute;
            top: 101%;
            right: 0;
            bottom: 0;
            left: 50%;
            content: '';
            width: 85px;
            height: 1px;
            background: #000;
            margin-left: -42px;
        } 
    }
    .products{
        margin-top: 40px;
        margin-bottom: 40px;
        a{
            color: inherit;
            text-decoration: none;
        }
        .choice{
            text-align: center;
            margin-bottom: 50px;
            border: 1px solid #dddddd;
            position: relative;
            .productName{
                font-size: 24px;
                margin-bottom: 15px;
            }
            &:hover{
                .productName{
                    color: #e47277;
                }
            }
            .imgSec{
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                position: relative;
                width: 100%;
                height: 258px;
            }
            .descriptn{
                text-align: center;
                padding-top: 15px;
                font-size: 14px;
                line-height: 20px;
                color: #777;
                padding: 5px 20px;
            }
            .name{
                text-align: center;
                padding-top: 15px;
                font-size: 20px;
                line-height: 20px;
                color: #555;
                padding: 5px 20px;
            }
            .discount{
                font-size: 13px;
                padding-top: 15px;
                margin: 0;
                line-height: 1px;
                color: red;
                font-weight: 600;
            }
            .price{
                font-size: 24px;
                font-weight: 900;
                color: #e47277;
                padding: 10px 20px 20px 20px;
            }
        }
        .handPicks{
            .handPickCake{
                display: inline-block;
                height: 500px;
                width: 200px;
                background-color: green;
                .heading{
                    height: 25%;
                    width: 100%;
                    background-color: #f4f4f4;
                    padding: 20px;
                    &:before{
                        background-color: transparent;
                    }
                    .title{
                        color: #e47277;
                        transition: all 150ms linear;
                        font-size: 28px;
                        padding-bottom: 20px;
                        line-height: 1;
                    }
                    .cakeCaption{
                        color: #666;
                        max-width: 220px;
                        margin: 0 auto;
                        font-size: 13px;
                        line-height: 1;
                    }
                }
                .image{
                    height: 50%;
                    width: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    position: relative;
                }
                .priceWrap{
                    height: 25%;
                    width: 100%;
                    background-color: #f4f4f4;
                    padding: 20px;
                    text-align: center;
                    .cakeCaption2{
                        max-width: 260px;
                        margin: 0 auto;
                        color: #666;
                        font-size: 13px;
                        margin-bottom: 20px;
                    }
                    .price{
                        color: #e47277;
                        text-align: center;
                        font-size: 25px;
                    }
                }
            }
        }
    }
}

// Code for ribbon

.box {
  width: 200px; height: 300px;
  position: relative;
  border: 1px solid #BBB;
  background: #EEE;
}
.ribbon {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbon span {
  font-size: 10px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#E47277 0%, #E47277 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbon span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #E47277;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #E47277;
}
.ribbon span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #E47277;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #E47277;
}
section.cakeCart{
    .check-out{
        .cartTable{
            margin-top: 5em;
            table{
                tr{
                    th{

                    }
                    td{
                        a{
                            text-decoration: none;
                            color: inherit;
                        }
                        img{
                            width: 35%;
                        }
                        .ProductInfo{
                            h5{

                            }
                            p{

                            }
                        }
                        input{
                            width: 50px;
                            height: 40px;
                            text-align: center;
                        }
                    }
                }
            }
        }
    }
}
section.PaymentForm{
    .contact_section_title{
        font-weight: 600;
        margin-bottom: 30px;
    }
    .contactForm{
        form{
            .form-group{
                label{
                }
                input{
                    border-radius: 0;
                    outline: none;
                    box-shadow: none;
                }
                select{
                    border-radius: 0;
                    outline: none;
                    box-shadow: none;
                }
                textarea.form-control{
                    border-radius: 0;
                    outline: 0;
                    box-shadow: none;
                    height: 140px;
                    max-width: 100%;
                    max-height: 140px;
                }
            }
        }
    }
    .billingInfo{
        .contact_section_title{
            font-weight: 600;
            margin-bottom: 30px;
        }
        .billingInfo{
            border: 1px solid #ccc;
            padding: 30px 25px;
            background: #fff;
            .title{
                font-size: 16px;
                font-weight: 600;
            }
            .info{
                // padding-bottom: 10px;
                .checkbox{
                    margin-bottom: 20px;
                    label{

                    }
                    &.terms{
                        label{
                            a{
                                color: inherit;
                            }
                        }
                    }
                }
            }
            .completeOrder{
                text-decoration: none;
                display: block;
                background: #5cb85c;
                text-align: center;
                padding: 15px 0;
                border-radius: 3px;
                color: #fff;
                font-weight: 600;
            }
        }
        .mapContainer{
            width: 100%;
            height: 15em;
            background-color: #fff;
            margin-top: 25px;
            overflow: hidden;
            iframe{
                width: 100%;
                height: 100%;
            }
        }
        .dAddress{
            margin-top: 4em;
            .media{
                .media-left.icon{
                    font-size: 20px;
                    color: #e47277;
                }
                .media-body.address_text{
                     font-size: 16px;
                }
            }
        }
    }
}
.form-control{
    height: 42px;
}
.form-group{
    label{
        font-size: 15px;
        padding-bottom: 10px;
    }
}
textarea.form-control{
    min-height: 130px;
}
section.services{
    .bannerSection{
        width: 100%;
        height: 20em;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center bottom;
        position: relative;
        margin-bottom: 3em;
        .overlay{
            background-color: rgba(0, 0, 0, 0.4);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            right: 0;
            height: 100%;
            width: 100%;
            padding: 6em 20px 20px 20px;
            text-align: center;
            .caption{
                font-family: 'Berkshire Swash';
                color: #fff;
                font-size: 5em;
            }
        }
    }
}